{% extends 'base.html' %}

{% block title %}
Сторінка про нас
{% endblock %}

{% block body %}
<div class="container">
    <h1>Сторінка сайту, де описані ми</h1>
    <h2>
        Ця сторінка зроблена, як-небудь, оскільки не було часу її доробити...
    </h2>
    <h2>
        Зробити цей сайт двоє людей:
    </h2>
    <h2>
        Сергій - sergiyclas@gmail.com
    </h2>
    <h2>
        Назар - nazarzaharchuk000@gmail.com
    </h2>
    <h2>
        і все...
    </h2>
    <h3>
        P.S: надіємося вам сподобалося
    </h3>
</div>
{% endblock %}