{% extends 'base.html' %}

{% block title %}
Домашня сторінка
{% endblock %}
{% block body %}
        <div class="container">
    <h2 class="everething">Усе має цінність</h2>
    <p class="title-text">Не викидуй - продай!</p>
    <p class="title-text">Користуйся нашим аукціоном</p>
    <p class="title-text">Auction - everything has price</p>

    <div class="but">
        <a href="/create_lots">
            <button class="make-lot">Виставити лот</button>
        </a>
        <a href="/posts">
            <button class="all-au">ВСІ аукціони</button>
        </a>

    </div>


</div>
{% endblock %}